<div class="view_box" id="new_attr_type">
<% form_for(@attr_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, "Add Type" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', attr_types_path %>
</div>