<div class="view_box" id="new_spec_attribute">

<% form_for(@spec_attribute) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, "Specify Attribute's Name" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :attr_type_id, "Specify Attribute's Type" %><br />
    <%= f.collection_select :attr_type_id,
      AttrType.find(:all),
      :id, :name,
      :prompt => "Select a Type"
    %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', spec_attributes_path %>
</div>